{% extends 'base.html.twig' %}

{% block title %}Souscription et abonnement
{% endblock %}

{% block stylesheets %}
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="{{ asset('assets/css/small-business.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}">
{% endblock %}

{% block body %}
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">Asnumeric</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Retour Au Site
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">| Application Gestion Communautaire(AGC)</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">| EMITRANS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">| SMARTGARAGE</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">| EMIHOT</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<header class="bg-primary py-5 mb-5">
		<div class="container h-100">
			<div class="row h-100 align-items-center">
				<div class="col-lg-12">
					<h1 class="display-4 text-white mb-2">Souscription & Abonnement
					</h1>
				</div>
			</div>
		</div>
	</header>
	<!-- Page Content -->
	<div class="container">

		<!-- Heading Row -->

		<!-- /.row -->

		<!-- Call to Action Well -->
			<div class=" my-5 py-4 text-center"> <div class="card-body">
				<div class="comparison">

					<table>
						<thead>
							<tr>
								<th class="tl tl2"></th>
								<th class="qbse">
									Particulier & Freelance
								</th>
								<th colspan="3" class="qbo">
									Forfait Souscription : 50,000FCFA au premier abonnement.
								</th>
							</tr>
							<tr>
								<th class="tl"></th>
								<th class="compare-heading">
									Perso
								</th>
								<th class="compare-heading">
									Start
								</th>
								<th class="compare-heading">
									Premium
								</th>
								<th class="compare-heading">
									Business
								</th>
							</tr>
							<tr>
								<th></th>
								<th class="price-info">
									<div class="price-was">13 000FCFA</div>
									<div class="price-now">
										<span>9,600<span class="price-small hide-mobile">FCFA</span>
										</span>
										/Mois</div>
									<div>
										<a href="#" class="price-buy">Go !</a>
									</div>
									<div class="price-try">
										<span class="hide-mobile"></span>
										<a href="#">Demo
											<span class="hide-mobile">Gratuit</span>
										</a>
									</div>
								</th>
								<th class="price-info">
									<div class="price-was">16 000FCFA</div>
									<div class="price-now">
										<span>12,600<span class="price-small hide-mobile">FCFA</span>
										</span>
										/Mois</div>
									<div>
										<a href="#" class="price-buy">Go !
										</a>
									</div>

									<div class="price-try">
										<span class="hide-mobile"></span>
										<a href="#">Demo
											<span class="hide-mobile">Gratuit</span>
										</a>
									</div>
								</th>
								<th class="price-info">
									<div class="price-was">20 000FCFA</div>
									<div class="price-now">
										<span>15,600<span class="price-small hide-mobile">FCFA</span>
										</span>
										/Mois</div>
									<div>
										<a href="#" class="price-buy">Go !</a>
									</div>
									<div class="price-try">
										<span class="hide-mobile"></span>
										<a href="#">Demo
											<span class="hide-mobile">Gratuit</span>
										</a>
									</div>
								</th>
								<th class="price-info">
									<div class="price-was">30,000 FCFA</div>
									<div class="price-now">
										<span>24,600<span class="price-small hide-mobile ">FCFA</span>
										</span>
										/Mois</div>
									<div>
										<a href="#" class="price-buy">Go !
											<span class="hide-mobile hide-mobile">Now</span>
										</a>
									</div>
									<div class="price-try">
										<span class="hide-mobile">or
										</span>
										<a href="#">try
											<span class="hide-mobile">it free</span>
										</a>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td colspan="4">Seperate business from personal spending</td>
							</tr>
							<tr class="compare-row">
								<td>Application en ligne</td>
								<td>
									<span class="tickblue">✔</span>
								</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td colspan="4">Sous domaine<br>(<small>votreentreprise.asnumeric.com</small>)</td>
							</tr>
							<tr>
								<td>Sous Domaine
									<br>(<small>votreentreprise.asnumeric.com</small>)</td>
								<td>
									<span class="tickblue">✔</span>
								</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td colspan="4">12 Emails professionnels</td>
							</tr>
							<tr class="compare-row">
								<td>12 Emails professionnels</td>
								<td>
									<span class="tickblue">✔</span>
								</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td colspan="4">SMS Personnalisés</td>
							</tr>
							<tr>
								<td>SMS Personnalisés</td>
								<td>
									<span class="tickblue">✔</span>
								</td>
								<td>
									<span class="tickgreen">✔</span>
								</td>
								<td>
									<span class="tickgreen">✔</span>
								</td>
								<td>
									<span class="tickgreen">✔</span>
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td colspan="4">Site web (4 pages)
								</td>
							</tr>
							<tr class="compare-row">
								<td>Site web (4pages)</td>
								<td>
									<span class="tickblue">✔</span>
								</td>
								<td>
									<span class="tickgreen">✔</span>
								</td>
								<td>
									<span class="tickgreen">✔</span>
								</td>
								<td>
									<span class="tickgreen">✔</span>
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td colspan="4">Espace Client</td>
							</tr>
							<tr>
								<td>Espace Client</td>
								<td></td>
								<td>
									<span class="tickgreen">✔</span>
								</td>
								<td>
									<span class="tickgreen">✔</span>
								</td>
								<td>
									<span class="tickgreen">✔</span>
								</td>
							</tr>


							<tr>
								<td>&nbsp;</td>
								<td colspan="4">nombre d'utilisateurs</td>
							</tr>
							<tr class="compare-row">
								<td>nombre d'utilisateurs</td>
								<td class="tickblue">1 user</td>
								<td class="tickgreen">1 user</td>
								<td class="tickgreen">3 users</td>
								<td class="tickgreen">5 users</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td colspan="4">Assitance technique 24/7</td>
							</tr>
							<tr>
								<td>Assitance technique 24/7</td>
								<td></td>
								<td></td>
								<td>
									<span class="tickgreen">✔</span>
								</td>
								<td>
									<span class="tickgreen">✔</span>
								</td>
							</tr>


						</tbody>
					</table>

				</div>
			</div>
		</div>

		<!-- Content Row -->
		<!-- /.row -->

	</div>
	<!-- /.container -->

	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Asnumeric 2020</p>
		</div>
		<!-- /.container -->
	</footer>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}
